[[source]]
name = "pip_conf_index_global"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = false

[packages]
python-socketio = "*"
pyyaml = "*"
requests = "*"
websocket-client = "*"

[dev-packages]
build = "*"
pipenv-setup = "*"
pytest = "*"
setuptools = "*"
twine = "*"
wheel = "*"

[requires]
python_full_version = "3.12.1"
python_version = "3.12"
