[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
requests = "*"
python-socketio = "*"
websocket-client = "*"
pyserial = "*"
pyyaml = "*"
vistir = "==0.5.2"

[dev-packages]
pytest = "*"
setuptools = "*"
wheel = "*"
build = "*"
pipenv-setup = "*"
vistir = "*"
twine = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
